/venv
/.ipynb_checkpoints
DOB_Complaints_Received_20241022.csv
01_PandaPokemon.ipynb
02_MorePokemon.ipynb
03_Complaints.ipynb
04_Pokemon.ipynb
Class05Demo.ipynb
Class05Demo02.ipynb
DOB_Complaints_Received_2024102
pokemon_data2